.mt-range{
	width: 100%;
	margin-top: .5rem;
	height: 1rem;
	line-height: 1rem;
	display: inline-block;
}
.mt-range-thumb{
	width: .2rem;
	height: .2rem;
	background-color: #26a2ff;
	top: -.1rem;
}
.mt-range-runway{
	right: 0;
}
.mt-range--disabled{opacity: 1}
.mt-range-content{width: 100%;margin-right: 0;}
