/*reset*/
* {margin:0;padding:0;box-sizing:border-box;word-wrap:break-word;background-clip:padding-box;}
html{/*background:#000;*/-webkit-text-size-adjust:none;text-size-adjust:none;height:100%;font-size:100px;}
body,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,p,th,td{padding:0px;margin:0px;}
body{color:#000;/*color:#fff;*/font-family:"Microsoft Yahei",Arial,"宋体";font-size:.24rem;overflow-x:hidden;/*background:#000;*/height:100%}
h1,h2,h3,h4,h5,h6{font-weight:bold;}
button{box-sizing:content-box;-webkit-box-sizing:content-box;}
/*input[type=tel],
input[type=text],
input[type=number],
input[type=password],
input[type=search]{margin:0;padding:0 .1rem;width:90%;height:.36rem;line-height:.36rem;border:1px solid #999;border-radius:.06rem;background-color:#fff;color:#333;text-align:left;font-size:.14rem;font-family:Helvetica,Arial;-webkit-appearance:none;-moz-appearance:none;moz-appearance:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
input[type=tel]:focus,
input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus{border-color:#c00;outline-offset:0;outline:0 none;}
input[type=number]{-webkit-appearance:none!important;-moz-appearance:textfield;margin:0;}*/
textarea{width:90%;height:1rem;padding:.1rem;border:1px solid #999;border-radius:.06rem;background-color:#fff;color:#333;font-size:.14rem;font-family:Helvetica,Arial;}
ul,ol,dl,li,dt,dd,p{padding:0;margin:0;}
ul,nav,li{list-style:none;}
ol{list-style-position:inside;}
table{border-collapse:collapse;border-spacing:0;}
em{font-style:normal;color:#f00}
img{vertical-align:top;border:none;width:100%;height:auto}
a{color:#000;text-decoration:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;}
a:hover{text-decoration:none;}
a:focus{ -moz-outline-style:none;}

/*common*/
.hide{ display: none!important;}
/*::-webkit-scrollbar{width:0px}*/