<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="utf-8" />
</head>
<body>
<div id="box">
    <input type="button" value="添加" @click="add">
    <ul>
        <li v-for="value in arr">{{value}}</li>
    </ul>
</div>
<script type="text/javascript" src="../lib/vue.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: "#box",
        data:{
            //数据
            arr:['apple','pear','orange'],
        },
        methods:{
            add:function(){
                this.arr.unshift("banaba");
            }
        }
    })

    // 点击第一次不会报错，当点击第二次时会报错，
    // 会有重复数据？ track-by='索引/id'	提高循环性能
    // 所以应改为：   <li v-for="value in arr" track-by="$index">{{value}}</li>
    //  vue.js:991 [Vue warn]: Duplicate value found in v-for="value in arr": "banaba". Use track-by="$index" if you are expecting duplicate values.
</script>
</body>
</html>