<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

</head>
<body>
<div id="box">
    {{msg |uppercase}}  <br/>
    <input type="text" @keyup="show | debounce 1000">  <br />
    <div>
        <p>limitBy的用法</p>
        <ul>
            <li v-for="val in arr | limitBy 2">{{val}}</li>
        </ul>
    </div>
    <div>
        <p>filterBy的用法</p>
        <ul>
            <li v-for="val in arr | filterBy 'o'">{{val}}</li>
        </ul>
    </div>
    <div>
        <p>orderBy的用法</p>
        <input type="text" v-model="a">
        <ul>
            <li v-for="val in arr | orderBy a">{{val}}</li>
        </ul>
    </div>
    <div>
        <p>自定义过滤器</p>
        {{ num | toDou }}
    </div>
    <div>
        <ul>
            <li v-for="product in products
                   | filterBy 'electronics' in 'category'
                   | orderBy  'name' " >
                {{ product.name | capitalize }} - {{ product.price | currency '¥' '1' }}
            </li>
        </ul>
        <ul > <!--输出Bruce Chuck Jackie-->
            <li v-for="item in man | orderBy ageByTen">{{item.name}}</li>
        </ul>
    </div>
    <div>
        <p>{{num | sum}}</p>
        <p>{{num | cal 10 20}}</p>
        <!--过滤器函数始终以表达式的值作为第一个参数。带引号的参数视为字符串，而不带引号的参数按表达式计算。-->
    </div>
</div>

<!--<input v-on:keyup="show | debounce 2000">-->
<script type="text/javascript" src="../lib/vue.js"></script>
<script type="text/javascript">
    Vue.filter("toDou",function(input){
        return input>10?input:'0'+input;
    });
    var vm = new Vue({
        data:{
            msg:'zuobaiquan',
            arr:['orange','apple','pear'],
            num:9,
            products : [
                {name: 'microphone', price: 25, category: 'electronics'},
                {name: 'laptop case', price: 15, category: 'accessories'},
                {name: 'screen cleaner', price: 17, category: 'accessories'},
                {name: 'laptop charger', price: 70, category: 'electronics'},
                {name: 'mouse', price: 40, category: 'electronics'},
                {name: 'earphones', price: 20, category: 'electronics'},
                {name: 'monitor', price: 120, category: 'electronics'}
            ],
            man: [{ name: 'Jackie',age: 62},{name: 'Chuck',age: 76},{name: 'Bruce',age: 61}]
        },
        methods:{
            show:function(){
                alert(111111111);
            },
            ageByTen: function () {
                return 1;
            }
        },
        filters: {
            sum: function (value) {
                return value*2;
            },
            cal: function (value, begin, xing) {
                return value + begin + xing;
            }
        }
    }).$mount('#box');

//    vue提供过滤器:
//    capitalize	uppercase	currency....
//    debounce	配合事件，延迟执行,有点类似于 timeout
//    数据配合使用过滤器:
//    limitBy 限制几个 两个参数(第一个参数取前几个，第二个参数从哪儿开始-可选)
//    limitBy 参数(取几个)
//    limitBy 取几个  从哪开始
//    filterBy	过滤数据
//    filterBy '谁'   含有‘谁’的数据都会显示
//    orderBy	排序
//    orderBy 谁 按照谁排序   升序（order >= 0）或降序（order < 0）,默认是升序
//    更多看 http://www.cnblogs.com/lily1010/p/5835712.html

//    自定义过滤器Vue.filter("过滤器名称",function(需要过滤的值){}
//    接收参数类型的
</script>
</body>
</html>